@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* ----- Colors ----- */
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --border: 240 5.9% 90%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground min-h-screen font-sans antialiased;
  }
}
