/*
  This file contains simple utility classes modeled after Tailwind CSS. We
  created it to style this simple app without adding dependencies to any
  external framework. Please replace with a styling solution of your choice.
*/

/* ----- Reset ----- */
*,
*:before,
*:after {
  box-sizing: border-box;
  border: 0 solid hsl(var(--border));
}

html {
  line-height: 1.5;
  font-family: var(--font-inter);
}

body {
  margin: 0;
  line-height: inherit;
  color: var(--color-text-primary);
  background-color: var(--color-background-default);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Remove the default font size and weight for headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* Removes default margins */
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre {
  margin: 0;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* ----- Layout: Container ----- */
.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 2rem;
  padding-left: 2rem;
}

/* ----- Layout: Position ----- */
.relative {
  position: relative;
}

/* ----- Layout: Display ----- */
.flex {
  display: flex;
}

/* ----- Flexbox: Direction ----- */
.flex-col {
  flex-direction: column;
}

/* ----- Flexbox: Flex ----- */
.flex-1 {
  flex: 1 1 0%;
}

/* ----- Flexbox: Align Items ----- */
.items-center {
  align-items: center;
}

/* ----- Spacing: Padding ----- */
.py-4 {
  padding-top: 1rem; /* 16px */
  padding-bottom: 1rem; /* 16px */
}

/* ----- Sizing: Width ----- */
.w-full {
  width: 100%;
}

/* ----- Sizing: Max-Width ----- */
.max-w-screen-xl {
  max-width: 1280px;
}

/* ----- Sizing: Height ----- */
.h-14 {
  height: 3.5rem; /* 56px */
}

/* ----- Sizing: Min-height ----- */
.min-h-screen {
  min-height: 100vh;
}

/* ----- Typography: Font Family ----- */
.font-sans {
  font-family: var(--font-inter);
}

/* ----- Typography: Font Weight ----- */
.font-bold {
  font-weight: 700;
}

/* ----- Backgrounds: Color ----- */
.bg-background {
  background-color: hsl(var(--background));
}

/* ----- Borders: Width ----- */
.border-b {
  border-bottom-width: 1px;
}

/* ----- Borders: Color ----- */
.border-border {
  border-color: hsl(var(--border));
}

/* ----- CSS Variables ----- */
:root {
  --background: 0 0% 100%;
  --foreground: 240 10% 3.9%;
  --card: 0 0% 100%;
  --card-foreground: 240 10% 3.9%;
  --popover: 0 0% 100%;
  --popover-foreground: 240 10% 3.9%;
  --primary: 240 5.9% 10%;
  --primary-foreground: 0 0% 98%;
  --secondary: 240 4.8% 95.9%;
  --secondary-foreground: 240 5.9% 10%;
  --muted: 240 4.8% 95.9%;
  --muted-foreground: 240 3.8% 46.1%;
  --accent: 240 4.8% 95.9%;
  --accent-foreground: 240 5.9% 10%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 98%;
  --border: 240 5.9% 90%;
  --input: 240 5.9% 90%;
  --ring: 240 5.9% 10%;
  --radius: 0.5rem;
}
